.section1{
    padding: 12px;
    border: 1px solid black;
}
.section2{
    margin-top: 12px;
}
.section3{
    margin-top: 12px;
}
h1{
    text-decoration: underline;
    margin-bottom: 22px;
    margin-top: 0px;
}
img{
    display: block;
    width: 300px;
    height: 200px;
    margin-bottom: 12px;
}
a{
    text-decoration: none;
}
ol{
   padding:0px 18px;
    margin: 0px;
}